@charset "UTF-8";




.form_title {
	padding: 20px 0 10px 5px;
	width: 100%;
	text-align: left;
	border: 0px;
	font-family: 'Jeju Gothic', 'dotum', serif;
	font-size: 1.2em;
	color: #3e3e3e;
}

.goods_name {
	float: left;
	text-align: left;
	line-height: 160%;
	padding: 5px;
	width: 100%;
	color: #525252;
}

.order_list-tb th {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	text-align: center;
}

.order_list-tb th {
	display: table-cell;
	height: 40px;
	letter-spacing: -1px;
	vertical-align: middle;
	border-bottom: 2px solid #dddddd;
	padding: 2px 2px 2px 2px;
}

.order_list-tb td {
	border-bottom: 1px solid #dddddd;
	padding: 5px 5px 5px 5px;
}

.order_list-tb td {
	height: 30px;
	letter-spacing: -1px;
	vertical-align: middle;
}


.order_list-tb caption {
	font-weight: bold;
	text-align: left;
}

.order_form_left {
	float: left;
	width: 20%;
	padding: 5px 0 5px;
	text-align: left;
}

.order_form_right {
	float: right;
	padding: 5px 0 5px;
	overflow: hidden;
	text-align: right;
}

.guide_area {
	display: inline-block;
	width: 100%;
	padding: 10px 0px 30px;
	text-align: center;
}

.btn_area {
	display: inline-block;
	width: 100%;
	padding: 10px 0px 30px;
	text-align: center;
}

.order_btn_buy {
	border-radius: 2px;
	width: 165px;
	height: 35px;
	border: 1px solid #ff3945;
	background: #ff444f;
	font-family: 'Jeju Gothic', 'dotum', serif;
	font-size: 1.2em;
	color: #ffffff;
	cursor: pointer;
}

