@charset "UTF-8";

.itemgoods {
	width: 100%;
	display: inline-block;
}

.itemgoods>.itemwrap {
	width: 95%;
	height: auto;
	margin: auto;
	background: #e8e8e8;
}

.itemlist_row {
	list-style: none;
	margin: auto;
	width: 100%;
	display: inline-block;
}

.itemlist_row li {
	width: 18%;
	box-shadow: 0px 0px 5px 0px rgba(102, 186, 255, 0.4);
	margin: 1%;
	float: left;
	background: white;
	height: 300px;
}

.itemlist_row li > a > .thumbnail {
	width: 100%;
	height: 65%;
}

.itemlist_row > .itemsinfo {
	position: relative;
	padding: 10px 10px 9px 8px;
	background: #fff;
}

@media all and (max-width: 768px) {
	.itemgoods {
		width: 100%;
		heigth: auto;
	}
	.itemgoods>.itemwrap {
		width: 95%;
		height: auto;
		margin: auto;
		background: #e8e8e8;
	}
	.itemlist_row {
		list-style: none;
		margin: auto;
		width: 100%;
		display: inline-block;
	}
	.itemlist_row li {
		width: 48%;
		box-shadow: 0px 0px 5px 0px rgba(102, 186, 255, 0.4);
		margin: 1%;
		float: left;
		background: white;
		height: 220px;
	}
}