@charset "UTF-8";

#goods_category {
	width: 100%;
	height: 100%;
	float: left;
	text-align: center;
}

.goods_sale_price {
	color: #ff8040;
	font-weight: bold;
	font-size: 1.1em;
}

.goods_contents {
	width: 100%;
	overflow: hidden;
}

.goods_contents ul.link li {
	padding: 0px;
}

.goods_contents ul.link li a {
	float: left;
	display: inline-block;
	height: 38px;
	width: 25%;
	border: 1px solid #cbcdce;
	color: #757575;
	line-height: 38px;
	text-decoration: none;
	text-align: center;
	background: #f0f2f2;
}

.goods_contents ul.link li.selected a {
	float: left;
	display: inline-block;
	height: 38px;
	width: 24.25%;
	border: 1px solid #808080;
	color: #ffffff;
	line-height: 38px;
	text-decoration: none;
	text-align: center;
	background: #808080;
}

.goods_order_tot_price {
	width: 100px;
	color: #ff8000;
	font-size: 1.55em;
	font-weight: bold;
}



.goods_image {
	width: 100%;
	height: 400px;
	text-align: left;
	line-height: 450px;
	overflow: hidden;
}

.goods_thumb_img {
	width: 100%;
	padding-top: 10px;
}

.goods_thumb_img ul li {
	width: 400px;
	height: 300px;
	padding-right: 8px;
	margin-bottom: 8px;
}

.goods_category {
	width: 100%;
	padding: 10px 0 10px;
}

#back-top {
	position: fixed;
	bottom: 0px;
	right: 20px;
	width: auto;
	height: 100px;
	z-index: 99;
	cursor: pointer;
	display: none;
}