@charset "UTF-8";

.itemgoods {
	width: 100%;
	heigth: auto;
}

.itemgoods>.itemwrap {
	width: 95%;
	height: auto;
	margin: auto;
	background:#e8e8e8;
}

.itemlist_row {
	list-style: none;
	margin: auto;
	width: 100%;
	display: inline-block;
}

.itemlist_row li {
	width: 18%;
	margin: 0.8%;
	float: left;
	background:white;
	height: 300px;
}

@media all and (max-width: 768px) {
	.itemlist_row4 li {
		width: 31%;
		margin: 1%;
		height: 300px;
		display: inline-block;
		float: left;
		border-style: solid;
	}
}