<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="mainService" class="service.MainService" />
	<bean id="bean_rent_products" class="bean.bean_rent_products" />
	<bean id="bean_rent_users" class="bean.bean_rent_users" />
	<bean class="service.ProdService" id="prodService"/>
	<bean class="service.MemberService" id="memberService" />
	<bean class="service.ItemService" id="itemService" />
	<bean class="service.JoinService" id="joinService" />
	<bean class="service.UserItemService" id="userItemService"/>
	<bean class="service.AdminService" id="adminService"/>
	
</beans>