<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminSQL">

	<select id="getUserlists" resultType="bean.bean_rent_users">
		select ru.R_id,
		ru.R_name,ru.R_Address,ru.R_card,ru.R_cash,b.borrow,r.renting,ru.R_stat
		from
		rent_users ru,
		(select nvl(count(roi.ROI_BUYIDNUM),'0') borrow, ru.R_idnum as bnum from
		rent_users ru, rent_orders_items roi where roi.ROI_BUYIDNUM(+) =
		ru.R_IDNUM group by ru.R_IDNUM) b,
		(select nvl(count(rp.RP_usernum),'0') renting, ru.R_idnum as brnum from
		rent_users ru, rent_products rp where ru.R_IDNUM = rp.rp_usernum(+)
		group by ru.R_idnum) r
		where b.bnum = r.brnum and r.brnum = ru.R_idnum and ru.R_stat != 'admin'
		order by R_name desc
	</select>

	<select id="getInvaildlist" resultType="bean.bean_rent_users">
		select roi.roi_buyidnum
		from RENT_ORDERS_ITEMS roi,RENT_PRODUCTS rp where
		roi.ROI_ITEMNUM=rp.RP_ITEMNUM and round((sysdate - roi.ROI_ENDDATE),0)
		> 30 order by
		roi.ROI_ENDDATE
	</select>

	<update id="updateR_stat">
		update rent_users set r_stat = 'block' where r_idnum
		= #{R_idnum}
	</update>

	<update id="invalid_price1">
		update rent_orders_items set roi_enddate = sysdate
		where roi_buyidnum=#{R_idnum} and roi_itemnum = #{RP_itemnum}
	</update>

	<update id="invalid_price2">
		update rent_users set R_stat = 'normal' , R_cash =
		-#{invalid_price} where R_idnum = #{R_idnum}
	</update>


</mapper>
