<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="itemSQL">
	<!-- 이름이 다를 경우 사용 한다 -->
	<!-- <resultMap type="member" id="member"> <result property="name" column="name"/> 
		<result property="email" column="email"/> <result property="password" column="password"/> 
		<result property="regdate" column="regdate"/> </resultMap> -->

	<insert id="itemInsert" parameterType="bean.bean_rent_products">
		insert into rent_products
		values((select nvl(max(Rp_itemnum),0)+1 from
		rent_products),
		#{RP_itemname},#{RP_catemain},#{RP_catesub},#{RP_price},sysdate,#{RP_startdate},#{RP_enddate},#{RP_img1},#{RP_img2},#{RP_img3},#{RP_usernum},
		#{RP_detail},#{RP_guarantee},1000)
	</insert>
	
	   	<update id="itemUpdate" parameterType="bean.bean_rent_products" >
      update rent_products set RP_itemname=#{RP_itemname},RP_catemain=#{RP_catemain}, RP_catesub=#{RP_catesub}, RP_price=#{RP_price}
      , RP_startdate=#{RP_startdate}, RP_enddate=#{RP_enddate}, RP_img1=#{RP_img1}, RP_img2=#{RP_img2}, RP_img3=#{RP_img3}, RP_detail=#{RP_detail}
     
      where Rp_itemnum =#{RP_itemnum} AND RP_usernum =#{RP_usernum}
   </update>
   
   	<delete id="itemDelete" parameterType="int">
      delete rent_products where RP_itemnum = #{RP_itemnum} 
      					
   </delete>
   
   <insert id="reviewInsert" parameterType="bean.bean_rent_review">
		insert into rent_review
		values((select nvl(max(Rr_reviewnum),0)+1 from
		rent_review),
		#{RR_itemnum},#{RR_usernum},#{RR_userid},0,#{RR_content},0,sysdate,#{RR_grade})
	</insert>
	
		<select id="reviewList" parameterType="bean.bean_rent_products" resultType="bean.bean_rent_review">
		select
		RR_subject,RR_userid,RR_content,RR_regdate,RR_grade,RR_img
		from
		rent_review where RR_itemnum =#{RP_itemnum}
		order by rr_reviewnum desc
	</select>


	<!-- <select id="subcate" resultType="bean.Bean_Category"> select subcate_value 
		from rent_subcate where maincate_code = #{maincate_code} </select> -->

</mapper>

