<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mainSQL">
	<!-- 이름이 다를 경우 사용 한다 -->
	<!-- <resultMap type="member" id="member"> <result property="name" column="name"/> 
		<result property="email" column="email"/> <result property="password" column="password"/> 
		<result property="regdate" column="regdate"/> </resultMap> -->

	<select id="getMainItemList" resultType="bean.bean_rent_products">
		select
		RP_itemnum,RP_itemname,RP_price,to_date(RP_startdate,'yy/mm/dd') as
		RP_startdate, to_date(RP_enddate,'yy/mm/dd') as RP_enddate
		from
		rent_products
		order by rp_regdate desc
	</select>


</mapper>

