<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mainSQL">
	<!-- 이름이 다를 경우 사용 한다 -->
	<!-- <resultMap type="member" id="member"> <result property="name" column="name"/> 
		<result property="email" column="email"/> <result property="password" column="password"/> 
		<result property="regdate" column="regdate"/> </resultMap> -->
	<select id="maincate" resultType="bean.Bean_Category">
		select * from rent_maincate
	</select>

	<select id="subcate" resultType="bean.bean_rent_products">
		select (CASE WHEN
		COUNT(rp_catesub) is null THEN 0 ELSE count(RP_catesub) END) as
		RP_subCount,
		rp_catesub from rent_products where
		rp_catemain=#{RP_catemain} group by
		rp_catesub
	</select>



	<select id="getmaincateitems" resultType="bean.bean_rent_products">
		select rp.RP_ITEMNUM, rp.RP_ITEMNAME, rp.RP_PRICE,
		rp.RP_STARTDATE,rp.RP_img1,
		rp.RP_ENDDATE, gd.grade,
		roi.ROI_STAT,rp.rp_regdate from RENT_PRODUCTS
		rp,
		(select rp.RP_itemnum,
		nvl(round(avg(rr.rr_grade),1),'0') grade from
		rent_review rr,
		RENT_PRODUCTS rp where rr.RR_ITEMNUM(+) =
		rp.RP_ITEMNUM
		group by
		rp.RP_ITEMNUM order by grade desc) gd, (select rp.RP_itemnum,
		roi.ROI_STAT from rent_orders_items roi, RENT_PRODUCTS rp where
		roi.ROI_ITEMNUM(+) = rp.RP_ITEMNUM) roi
		where rp.RP_itemnum =
		gd.RP_itemnum and rp.RP_ITEMNUM = roi.RP_itemnum
		<include refid="category"></include>
		order by
		<include refid="orderby"></include>
	</select>

	<sql id="category">
		<choose>
			<when test="maincate_value != 'all'">
				<if test="subcate_value == 'all'">
					and rp.RP_catemain = #{maincate_value}
				</if>
				<if test="subcate_value != 'all'">
					and rp.RP_catemain = #{maincate_value} and rp.RP_catesub
					=
					#{subcate_value}
				</if>
			</when>
			<otherwise></otherwise>
		</choose>
	</sql>

	<sql id="orderby">
		<choose>
			<when test="orderby == 'price_asc'">
				rp.RP_price asc, rp.rp_regdate desc
			</when>
			<when test="orderby == 'price_desc'">
				rp.RP_price desc, rp.RP_regdate desc
			</when>
			<when test="orderby == 'prod_popular'">
				gd.grade desc, rp.RP_REGDATE desc
			</when>
			<otherwise>rp.RP_REGDATE desc</otherwise>
		</choose>
	</sql>

	<select id="getsearchitems" resultType="bean.bean_rent_products">
		select
		RP_itemnum,RP_itemname,RP_price,to_date(RP_startdate,'yy/mm/dd') as
		RP_startdate, to_date(RP_enddate,'yy/mm/dd') as RP_enddate, RP_img1
		from
		rent_products
		WHERE (rp_itemname like '%'||#{keyword}||'%'
		OR
		rp_detail like '%'||#{keyword}||'%')
		order by rp_regdate desc
	</select>

</mapper>

