<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberSQL">

	<insert parameterType="bean.bean_rent_users" id="joinUser"> insert into
		RENT_USERS values((select nvl(max(R_idnum),0)+1 from rent_users),
		#{R_id},#{R_password},#{R_name},#{R_address},#{R_phone},#{R_card},#{R_cardnum}
		,0,'normal',sysdate) </insert>

	<select id="loginCheck" resultType="bean.bean_rent_users">select * from rent_users
		where R_id = #{R_id} 
	</select>

	<update parameterType="bean.bean_rent_users" id="userModify"> 
		update rent_users set R_password = #{R_password},
		R_name = #{R_name}, R_address = #{R_address}, R_phone = #{R_phone}, R_card = #{R_card}, R_cardnum = #{R_cardnum} 
		where R_id = #{R_id} 
	</update>
	
	<delete parameterType="bean.bean_rent_users"  id="user_delete">
		delete rent_users where R_id = #{R_id} and R_password = #{R_password}
	</delete>
</mapper>
