<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="useritemlistSQL">


	<select id="myList" parameterType="bean.bean_rent_users" resultType="bean.bean_rent_products">
		select
		RP_itemnum,RP_itemname
		from
		rent_products where RP_usernum =#{R_idnum}
		order by rp_itemnum desc
	</select>
	
	
		<insert id="likeInsert" parameterType="bean.bean_like_items">
		insert into rent_like_items
		values(#{RL_itemnum},#{RL_itemname},#{RL_price},#{RL_usernum})
	</insert>
	
		<select id="likeList" parameterType="bean.bean_rent_users" resultType="bean.bean_like_items">
		select
		RL_itemnum,RL_itemname,RL_price
		from
		rent_like_items where RL_usernum =#{R_idnum}
		order by rl_itemnum desc
	</select>
	
	   	<delete id="likeDelete" parameterType="int">
      delete rent_like_items where RL_itemnum = #{RL_itemnum} 
      					
   </delete>
      
   <update id="statUpdate" parameterType="bean.bean_rent_order_items" >
      update rent_orders_items set ROI_stat =#{ROI_stat} 
     where ROI_ordernum =#{ROI_ordernum}
   </update>
   

   
   
   

	
	
	



</mapper>